<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="allCartItems()" nz-button nzType="primary">Check</button>
  </ng-template>
</page-header>
<nz-card>
  <nz-table #editRowTable nzBordered [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzWidth="25%">User-Id</th>
        <th nzWidth="15%">Date</th>
        <th nzWidth="40%">Products</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listOfData">
        <td>{{ data.userId }}</td>
        <td>{{ data.date }}</td>
        <td>
          <ul>
            <li *ngFor="let item of data.products">
              {{ item.quantity }}
            </li>
          </ul>
        </td>
        <td><a (click)="startEdit(data.id)">Edit</a></td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
