<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="add()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <div class="mb-md">
    <button (click)="st.clear()" nz-button>Clear Data</button>
    <button (click)="st.reload()" nz-button>Reload Data</button>
    <button (click)="st.clearStatus(); st.reload()" nz-button>Clear Status</button>
    <button (click)="st.setRow(0, { className: 'text-success' })" nz-button>Update Row ClassName</button>
  </div>
  <st #st [data]="cartsList" [columns]="columns"> </st>
  <ng-template #customFilter let-f let-col="col" let-handle="handle">
    <div class="p-lg">
      <p>Custom body</p>
    </div>
  </ng-template>
</nz-card>
